<div class="container">
<form [formGroup]="userForm">
    <div class="mt-5">
      <div class="form-row">
        <div class="col-md-12">
          <div class="form-group mt-4">
            <label>Name</label> 
          </div>
          <div class="form-row ">
            <div class="col">
              <input type="text" formControlName="name" class="form-control" placeholder="Enter Name">
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group mt-4">
            <label> Address</label> 
          </div>
          <div class="form-row">
            <div class="col">
              <input type="text" formControlName="address" class="form-control" placeholder="Enter  Address">
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group mt-4">
            <label> ContactNo</label> 
          </div>
          <div class="form-row">
            <div class="col">
              <input type="text" formControlName="contactNo" class="form-control" placeholder="Enter  ContactNo">
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group mt-4">
            <label>Gender</label> 
          </div>
          <div class="form-row">
            <div class="col">
              <input type="text" formControlName="gender" class="form-control" placeholder="Enter Gender">
            </div>
          </div>
        </div>

        <div class="form-row mt-4">
          <div class="col-md-5">
            <button type="button" class="btn btn-primary" (click)="addItem()" style="margin:10px;">Add</button> 
            <button type="button" class="btn btn-primary"(click)="Reset()">Reset</button>
          </div>

        </div>

      </div>
    </div>


  </form>
</div>
<div class="container1">
  <div class="col-md-8 mt-4 md-4">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>address</th>
          <th>ContactNo</th>
          <th>gender</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of listData; let ind=index;">
          <tr *ngIf="item">
            <td><span>{{item.name}}</span></td>
            <td><span>{{item.address}}</span></td>
            <td><span>{{item.contactNo}}</span></td>
            <td><span>{{item.gender}}</span></td>
            <td> <button type="button" class="btn btn-primary"(click)="removeItem(ind)">Remove</button></td>
          </tr>
        </ng-container>
       
      </tbody>
    </table>
  </div>
  </div>